.head {
      margin: 8vh auto;
}

.title {
      font-size: 45px;
      font-weight: 700;

      margin: 0 auto;
}

.list-container {
      margin-bottom: 57px;
}

.list li {
      line-height: 24px;
      font-size: 20px;
      font-weight: 400;
}

.details {
      margin-bottom: 14vh;
      max-width: 45% !important;
}

@media screen and (max-width: 1100px) {
      .list li {
            margin: 2vh 0;
      }
      .details {
            max-width: 90% !important;
      }
}
