.results {
      border-radius: 8px !important;
      overflow: hidden !important;
      margin: 0.5rem !important;
}

.results > img{
      height: 100%;
}

.w_video{
      height: 140px;
      width: 250px;
}

@media screen and (min-width: 991px) {
      .tags {
            max-width: 73% !important;
      }
}
