.container {
      background-color: rgba(217, 217, 217, 0.50);
}

.pad {
      max-width: 75vw;
      margin: 0px auto;
      padding: 44px 0 22px;
}

.heading {
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 0.1em;
      color: black;
      margin-bottom: 24px;
}