.custom_datepicker{display: inline-block;}
.custom_datepicker :global(input){height: 39px;margin: 0;font-size: 14px; color: #000;padding-left: 40px;}
.custom_datepicker :global(svg){right: calc(100% - 30px) !important;} 