.badges {
      background-color: #d9d9d9;
      font-weight: 300 !important;
      font-size: 12px !important;
      line-height: 14px !important;
      border-width: 0;

      color: #000000 !important;

      margin-right: 20px;
      margin-bottom: 10px;
      padding-left: 16px !important;
      padding-right: 16px !important;
}
